/dist
/node_modules
*.tsbuildinfo

logs
*.log

.DS_Store

/coverage
/.nyc_output

/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env

.temp
.tmp

uploads/*
!uploads/.gitkeep

*.sqlite
*.db