# Окружение приложения
NODE_ENV=development

# Конфигурация сервера
PORT=3001

# Конфигурация базы данных
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/logiclike_voting
DB_HOST=localhost
DB_PORT=5433
DB_NAME=logiclike_voting
DB_USER=postgres
DB_PASSWORD=postgres

# Настройки пула соединений
DB_POOL_MIN=2
DB_POOL_MAX=10

# Настройки приложения
VOTE_LIMIT_PER_IP=10